<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	<% end %>
	<%= f.label :username %><br>
	<%= f.text_field :username %><br>
	<%= f.label :email %><br>
	<%= f.email_field :email, value: "example@example.com" %><br>
	<%= f.label :password %><br>
	<%= f.password_field :password %><br>
	<%= f.submit "Submit" %>
<% end %>